<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Success msg-->
<div th:fragment="successMsg(message, arg)"
     th:if="${message} ne null">
    <span th:text="#{${message}(${arg})}" class="alert alert-success mt-2 disappear" role="alert"></span>
</div>
<!--Fail msg-->
<div th:fragment="failMsg(message)"
     th:if="${message} ne null">
    <span th:text="#{${message}}" class="alert alert-danger mt-2 disappear" role="alert"></span>
</div>
<!--Sort fragment-->
<a th:fragment="sortIgnCase(obj, string)"
   th:with="ascending=${obj.sort.getOrderFor(string)?.direction?.name() eq 'ASC'}"
   th:href="@{''(sort=${string} + ',' + ${ascending ? 'DESC' : 'ASC'} + ',ignoreCase')}"
   th:text="#{${string}}" class="cool-link"></a>
<a th:fragment="sort(obj, string)"
   th:with="ascending=${obj.sort.getOrderFor(string)?.direction?.name() eq 'ASC'}"
   th:href="@{''(sort=${string} + ',' + ${ascending ? 'DESC' : 'ASC'})}"
   th:text="#{${string}}" class="cool-link"></a>
<!--PAGINATION FRAGMENT-->
<div th:fragment="pagination(items)"
     th:if="${items.totalPages > 1}">
    <div class="my-pagination"
         th:with="order=${items.sort.sorted ? items.sort.iterator().next() : null},
                 ignoreCase=${order ne null and order.ignoreCase ? 'ignoreCase' : ''},
                 orderParam=${order ne null ? order.property + ',' + order.direction.name() + ',' + ignoreCase : null}">

        <a th:if="${items.hasPrevious()}"
           th:href="@{''(page=${items.number - 1}, sort=${orderParam})}"
           class="page-numbers prev" aria-label="Previous">&laquo;</a>
        <span th:if="${!items.hasPrevious()}"
              class="page-numbers prev-active" aria-label="Previous">&laquo;</span>

        <a th:each="page : ${#numbers.sequence(1, items.totalPages)}" class="page-numbers"
           th:classappend="${items.number == page - 1 ? 'current' : ''}"
           th:href="@{''(page=${page - 1}, sort=${orderParam})}" th:text="${page}">1</a>

        <a th:if="${items.hasNext()}"
           th:href="@{''(page=${items.number + 1}, sort=${orderParam})}"
            class="page-numbers next" aria-label="Next">&raquo;</a>
        <span th:if="${!items.hasNext()}"
              class="page-numbers next-active" aria-label="Next">&raquo;</span>
    </div>
    <div th:text="|#{total.items}: ${items.totalElements}|"
         class="total-text"></div>
</div>

</html>