<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title=#{auto.form.title}, search=@{/autos}, content=~{:: #main})">

<body class="d-flex flex-column">
<div id="main">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7 py-5">
            <h3 th:if="${auto.plateNr eq null}" th:text="#{auto.new.form.title}" class="mb-5">Register New Auto</h3>
            <h3 th:if="${auto.plateNr ne null}" th:text="#{auto.edit.form.title}" class="mb-5">Edit Auto</h3>
            <form th:object="${auto}" method="POST">
                <div th:if="*{regTime ne null}" class="row mb-2 form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="|#{regTime}: *{regTime}|" for="regTime">Brand</label>
                            <input th:field="*{regTime}" type="text" class="form-control"
                                   hidden id="regTime">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{brand}" for="brand">Brand</label>
                            <input th:field="*{brand}" type="text" class="form-control"
                                   th:placeholder="#{placeholder.brand}"
                                   id="brand">
                            <p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="errors">Name field errors</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{model}" for="model">Model</label>
                            <input th:field="*{model}" type="text" class="form-control"
                                   th:placeholder="#{placeholder.model}"
                                   id="model">
                            <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="errors">Name field errors</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{plateNr}" for="plateNr">Plate Number</label>
                            <input th:field="*{plateNr}" type="text" class="form-control"
                                   th:placeholder="#{placeholder.plateNr}"
                                   id="plateNr">
                            <p th:if="${#fields.hasErrors('plateNr')}" th:errors="*{plateNr}" class="errors">Name field errors</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{year}" for="year">Year</label>
                            <input th:field="*{year}" type="number" class="form-control"
                                   th:placeholder="#{placeholder.year}"
                                   id="year" value="0">
                            <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="errors">Name field errors</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label th:text="#{issue}" for="issue">Issue</label>
                            <textarea th:field="*{issue}" type="text" class="form-control"
                                      th:placeholder="#{placeholder.issue}" id="issue"
                                      rows="2"></textarea>
                            <p th:if="${#fields.hasErrors('issue')}" th:errors="*{issue}" class="errors">Name field errors</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{client}" for="clients">Clients:</label>
                            <div class="select">
                                <select th:field="*{client}" name="Clients" class="form-control" id="clients" required>
                                    <option th:text="#{choose.client}" value="" hidden>Choose Client</option>
                                    <option th:each="client : ${clients}"
                                            th:text="|${client.name} ${client.surname}|"
                                            th:value="${client.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <a th:href="@{/clients/new}" class="cool-link mt-4">
                                <span th:text="|+ #{createNew} #{newClient}|">Create New Client</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label th:text="#{costs}" for="costs">Costs</label>
                            <input th:field="*{costs}" type="number" class="form-control"
                                   id="costs">
                            <p th:if="${#fields.hasErrors('costs')}" th:errors="*{costs}" class="errors">Name field errors</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label th:text="|#{fixed}?|" for="fix">Is fixed?:</label>
                        <input th:field="*{fixed}" type="checkbox" class="form-check-inline"
                               id="fix">
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button th:text="#{save}" type="submit" class="btn clr-primary px-5 m-2">Save</button>
                    <a th:text="#{cancel}" th:href="@{/autos}" type="button" class="btn btn-secondary px-5 m-2">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>