<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title=#{index.title}, search=@{/clients}, content=~{:: #main})">

<body class="d-flex flex-column">
<div id="main">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-7 py-5">
            <h3 class="mb-5">New Client's Form</h3>
            <form th:object="${client}" method="POST" >
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group first">
                            <label for="fname">First Name</label>
                            <input th:field="*{name}" type="text" class="form-control" placeholder="e.g. John" id="fname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group first">
                            <label for="lname">Last Name</label>
                            <input th:field="*{surname}" type="text" class="form-control" placeholder="e.g. Smith" id="lname">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group first">
                            <label for="email">Email Address</label>
                            <input th:field="*{email}" type="email" class="form-control" placeholder="e.g. john@your-domain.com" id="email">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group first">
                            <label for="phone">Phone Number</label>
                            <input th:field="*{phoneNr}" type="text" class="form-control" placeholder="867******" id="phone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group first">
                            <label for="city">City</label>
                            <input th:field="*{city}" type="text" class="form-control" placeholder="e.g. Kaunas" id="city">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group last mb-3">
                            <label for="address">Address</label>
                            <input th:field="*{address}" type="text" class="form-control" placeholder="Your Address" id="address">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button th:text="#{save}" type="submit" class="btn btn-primary px-5 m-2">Save</button>
                    <a th:text="#{cancel}" th:href="@{/clients}" type="button" class="btn clr-primary px-5 m-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>