<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title=#{index.title}, search=@{/clients}, content=~{:: #main})">

<body class="d-flex flex-column">

<div id="main" class="d-flex flex-column gap-2 align-items-center">

    <h5>History of Client</h5>
    <div th:if="${history.empty}">
        <h2 th:text="#{empty}"></h2>
    </div>
    <table th:if="${!history.empty}"
           th:classappend="${history.totalPages < 2 ? 'mb-5' : ''}"
           class="table table-striped my-2">
        <thead>
            <tr>
                <th th:text="#{regTime}" scope="col"></th>
                <th th:text="#{plateNr}" scope="col"></th>
                <th th:text="#{brand}" scope="col"></th>
                <th th:text="#{model}" scope="col"></th>
                <th th:text="#{year}" scope="col"></th>
                <th th:text="#{issue}" scope="col"></th>
                <th th:text="#{costs}" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="hist : ${history}">
            <td th:text="${hist.regTime}"></td>
            <td th:text="${hist.plateNr}"></td>
            <td th:text="${hist.brand}"></td>
            <td th:text="${hist.model}"></td>
            <td th:text="${hist.year}"></td>
            <td th:text="${hist.issue}"></td>
            <td th:text="${hist.fixed ? hist.costs : hist.fixed}"></td>
        </tr>
        </tbody>
    </table>
    <ul th:replace="fragments/common :: pagination(${history})"></ul>
</div>
</body>
</html>