<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" th:href="@{css/login.css}"/>
    <link rel="shortcut icon" th:href="@{/images/logo icon.png}" type="image/x-icon">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1>Welcome</h1>

        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post" class="form">
            <input type="text" th:placeholder="#{login.username}" name="username">
            <input type="password" th:placeholder="#{login.password}" name="password">
            <div th:if="${param.error ne null}" class="alert alert-danger" role="alert">
                <span th:text="#{${param.error}}"></span>
            </div>
            <button th:text="#{login}" type="submit" id="login-button">Login</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script>
    $("#login-button").click(function(event){
        event.preventDefault();

        $('form').fadeOut(500);
        $('.wrapper').addClass('form-success');
    });
</script>
</body>
</html>