<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title=#{index.title}, search=@{/private/clients}, content=~{:: #main})">

<body class="d-flex flex-column">

<div id="main" class="d-flex flex-column gap-2 align-items-center">

    <div th:if="${records.empty}">
        <h2 th:text="#{empty}"></h2>
    </div>
    <table th:if="${!records.empty}"
           th:classappend="${records.totalPages < 2 ? 'mb-5' : ''}"
           class="table table-striped my-2">
        <h2 th:text="#{records.of.service}"></h2>
        <thead>
        <tr>
            <th th:text="#{regTime}" scope="col"></th>
            <th th:text="#{plateNr}" scope="col"></th>
            <th th:text="#{brand}" scope="col"></th>
            <th th:text="#{model}" scope="col"></th>
            <th th:text="#{year}" scope="col"></th>
            <th th:text="#{issue}" scope="col"></th>
            <th th:text="#{costs}" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${records}">
            <td th:text="${record.regTime}"></td>
            <td th:text="${record.plateNr}"></td>
            <td th:text="${record.brand}"></td>
            <td th:text="${record.model}"></td>
            <td th:text="${record.year}"></td>
            <td th:text="${record.issue}"></td>
            <td th:if="${record.fixed}" th:text="${record.costs}"></td>
            <td th:if="${!record.fixed}" th:text="#{no.fixed}"></td>
        </tr>
        </tbody>
    </table>
    <ul th:replace="fragments/common :: pagination(${records})"></ul>
</div>
</body>
</html>