<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout(title=#{index.title}, search=@{/private/clients}, content=~{:: #main})">

<body class="d-flex flex-column">

<div id="main" class="d-flex flex-column gap-2 align-items-center">

    <div th:replace="fragments/common :: successMsg(${message}, ${username})"></div>
    <a th:href="@{/private/users/new}" class="align-self-start cool-link mt-3">
        <h5 th:text="|+ #{createNew} #{newUser}|">Create New Client</h5>
    </a>
    <div th:if="${users.empty}">
        <h2 th:text="#{empty}"></h2>
    </div>
    <table th:if="${!users.empty}"
           th:classappend="${users.totalPages < 2 ? 'mb-5' : ''}"
           class="table table-striped my-2">
        <thead>
        <tr>
            <th scope="col">
                <a th:replace="fragments/common :: sortIgnCase(${users}, 'username')"></a>
            </th>
            <th scope="col">
                <a th:replace="fragments/common :: sortIgnCase(${users}, 'email')"></a>
            </th>
            <th scope="col">
                <a th:replace="fragments/common :: sortIgnCase(${users}, 'firstName')"></a>
            </th>
            <th scope="col">
                <a th:replace="fragments/common :: sortIgnCase(${users}, 'lastName')"></a>
            </th>
            <th scope="col">
                <a th:replace="fragments/common :: sort(${users}, 'age')"></a>
            <th scope="col">
                <a th:replace="fragments/common :: sortIgnCase(${users}, 'roles')"></a>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <a th:href="@{/private/users/edit/{id}(id=${user.username})}" th:text="#{edit}" class="cool-link">Edit</a>
                <form th:action="@{/private/users/delete/{id}(id=${user.username})}" method="post">
                    <button th:text="#{delete}" class="cool-link">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <ul th:replace="fragments/common :: pagination(${users})"></ul>
</div>
</body>
</html>